::-moz-selection { background-color: transparent; }
::selection { background-color: transparent; }

body * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.map {
  height: 130%;
}

.button-up {
  bottom: 40px;
  left: 40px;
}

.mb-attribution-container {
  border-radius: 20px;
  padding-bottom: 3px;
}

.fade {
  background: -webkit-linear-gradient(rgba(62, 228, 216, 0.75) 10%, transparent 50%) left repeat;
  background: linear-gradient(rgba(62, 228, 216, 0.75) 10%, transparent 50%) left repeat;
  opacity: .75;
  pointer-events: none;
}

.mapboxgl-ctrl-top-right {
  z-index: 1;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl-group {
  background-color: rgba(0,0,0,0.25);
  box-shadow: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.mapboxgl-ctrl > button:hover {
    background-color: rgba(0,0,0,0.5);
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate {
  background-image: url(static/img/geolocate-icon.svg);
  background-repeat: no-repeat;
  background-position: 5px;
  width: 40px;
  height: 40px;
  padding: 10px;
  }

.compass {
  top: 60px;
}

.compass-dot {
  color: red;
}

.waypoint-dot {
  animation: ease-in-out waypoint 1s 0s infinite alternate both;
  background: red;
  box-shadow: 0 0 0 5px rgba(255,0,0,.1);
  width: 16px;
  border-radius: 50%;
  height: 16px;
}

.waypoint-shadow {
  animation: ease-in-out waypoint-shadow 1s 0s infinite alternate both;
  display: block;
  position: absolute;
  top: 40px;
  width: 14px;
  height: 5px;
  border-radius: 50%;
  background-color: #005773;
  opacity: .2;
}

@keyframes waypoint {
  0%   { box-shadow: 0 0 0 8px rgba(255,0,0,.1); background: red; transform: scale(.9);}
  100% { box-shadow: 0 0 0 4px rgba(255,0,0,.1); background: rgba(240,100,0,1); transform: scale(1.1);}
}

@keyframes waypoint-shadow {
  0%   { transform: scale(.9);}
  100% { transform: scale(1.1);}
}

.pin-pk {
  margin-left: -15px;
  margin-top: -15px;
}
