<html>
<head>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <meta charset=utf-8 />
  <title>PKGO map</title>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.css' rel='stylesheet'/>
  <link href='https://www.mapbox.com/base/latest/base.css' rel='stylesheet' />
  <link href='static/css/site.css' rel='stylesheet' />
</head>
<body class='fixed-left fixed-top clip'>
  <div class='pin-top pin-left map' id='map'>
  </div>
  <div class='pin-top pin-left fade'></div>
  <div class='compass dot fill-white pad1 pin-topright space-right1'>
    <div class='js-compass compass-dot compass icon'></div>
  </div>
</body>
</html>

<script type='text/javascript' src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.js'></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script type='text/javascript' src='static/js/map.js'></script>
<script type='text/javascript' src='static/js/countdown.js'></script>
<script type='text/javascript' src='static/js/markers.js'></script>
</html>
